.related-tracks {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: getSpacing(lg);

  .rt-heading {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: getSpacing(lg);

    p {
      font-size: 3rem;
    }
  }

  .rt-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: getSpacing(lg);
  }
}

@media (max-width: 1200px) {
  .related-tracks {
    .rt-heading {
      .none {
        display: none;
      }
    }
    .rt-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}


@media (max-width: 1024px) {
  .related-tracks {

    .rt-heading {
      p {
        font-size: 2rem;
      }
    }

    .rt-wrapper {
      grid-template-columns: 1fr;
      gap: getSpacing(sm);
    }
  }
}