:root {
  /* colors */
  /* primary color */
  --primary: #339ed0;

  /* font colors */
  --fg-primary: #e8e8e8;
  --fg-secondary: #c4c4c4;

  /* background colors */
  --bg-primary: #060606;
  --bg-secondary: #121212;
  --bg-tertiary: #202020;
}
