.beat-container {

  position: relative;

  .beat-box-1 {
    width: 100%;
    height: 300px;
    min-width: 0;
    overflow: hidden;
    transition: min-width 0.3s ease-out;
    border-radius: getSpacing(md);
    border: 2px solid rgba($color: #fff, $alpha: 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      min-width: 300px;
    }
  }
}
