.nav {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: getSpacing(lg);
  left: 0;
  @include flex-center;
  z-index: 10000;

  .nav-container {
    @include flex-center;
    @include auto-full;
    border-radius: getSpacing(md);
    padding: 0 getSpacing(lg);
    gap: getSpacing(lg);
    z-index: 80;
    transition: 0.5s ease-in-out;

    .divider-n {
      width: 2px;
      height: 2rem;
      background-color: $bg-tertiary;
      border-radius: 999px;
    }
  }
}

@media (max-width: 670px) {
  .nav {
    height: 4rem;
    .nav-container {
      flex-direction: column-reverse;
      gap: getSpacing(md);

      .nav-links {
        width: 100%;
      }

      .divider-n {
        width: 100%;
        height: 2px;
      }
    }
  }

  .nav2 {
    height: 8rem;
  }
}
