.nav {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: getSpacing(lg);
  left: 0;
  @include flex-center;
  z-index: 10000;
  transform: translateY(0);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);

  .nav-container {
    @include flex-center;
    @include auto-full;
    border-radius: getSpacing(md);
    padding: 0 getSpacing(lg);
    gap: getSpacing(lg);
    z-index: 80;
    transition: 0.5s ease-in-out;

    .divider-n {
      width: 2px;
      height: 2rem;
      background-color: $bg-tertiary;
      border-radius: 999px;
    }
  }
}

.hide-nav {
  transform: translateY(8rem);
}
