.nav-links {
  @include flex-center;
  gap: getSpacing(lg);
  justify-content: space-between;

  .icon {
    cursor: pointer;
    text-align: center;

    .icon-child {
      font-size: 28px;
      color: $icons;
    }

    .icon-title {
      color: $icons;
      font-size: 10px;
    }
  }

  .icon.active {
    span {
      color: $primary;
    }
    .icon-title {
      color: $primary;
      opacity: 1;
    }
  }

  .open {
    .icon-title {
      color: $fg-primary;
    }

    .icon-underline {
      width: 100%;
    }
  }
}
