.footer-card {
  width: 100%;
  height: auto;
  padding: getSpacing(xl) 0;

  .f-card-container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    @include flex-coloumn-center;
    padding: getSpacing(xl) 0;
    background: radial-gradient(
      circle at center,
      #4342c9 0%,
      #222033 80%,
      #1d1d1d 100%
    );
    gap: getSpacing(lg);

    .f-card-text {
      font-size: 3rem;
    }

    .f-card-btn {
      padding: 1rem 2rem;
      background-color: $secondary;
      border-radius: 999px;
    }
  }
}
