.footer-box-1 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: getSpacing(lg);

  .f-logo {
    font-size: 6rem;
    @include flex-start-center;

    .f-logo-text {
      opacity: 0.2;
    }
  }

  .social-links {
    display: flex;
    gap: getSpacing(md);

    a {
      color: $fg-primary;
      width: 50px;
      height: 50px;
      background-color: $secondary;
      border-radius: 50%;
      @include flex-center;
    }
  }
}

@media (max-width: 1200px) {
  .footer-box-1 {
    .f-logo {
      flex-direction: column;
      line-height: 0.8;
      align-items: start;
    }
  }
}

@media (max-width: 768px) {
  .footer-box-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;

    .f-logo {
      @include flex-center;
      flex-direction: row;
      // font-size: ;
    }

    .social-links {
      width: 100%;
      height: auto;
      @include flex-center;
    }
  }
}

@media (max-width: 560px) {
  .footer-box-1 {
    .f-logo {
      font-size: 4rem;
    }
  }
}
