.footer {
  width: 100%;
  height: auto;
  @include flex-coloumn-center;
  padding: 0 getSpacing(xxl);

  .footer-links-wrapper {
    width: 100%;
    height: auto;
    @include flex-space-between-center;
    border-top: 2px solid $bg-border;
    padding: getSpacing(xl) 0;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 getSpacing(lg);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0 getSpacing(md);
    
    .footer-links-wrapper {
      flex-direction: column;
      gap: getSpacing(lg);
      padding: getSpacing(md);
    }
  }
}
