.footer-additional-info {
  width: 100%;
  height: auto;
  padding: getSpacing(md) getSpacing(xxl);
  @include flex-space-between-center;

  .sm-text, .sm-text a {
    color: $fg-primary;
  }
}

@media (max-width: 1024px) {
  .footer-additional-info {
    padding: getSpacing(md) getSpacing(xl);
  }
}

@media (max-width: 768px) {
  .footer-additional-info {
    padding: getSpacing(md) getSpacing(md);
  }
}