// ALL THE VARIABLES

// COLORS
$primary: #5f55df;
$secondary: #7d73ff;
$tertiary: #a68d5e;

$fg-primary: #ffffff;
$fg-secondary: #808080;

$bg-primary: #080808;
$bg-secondary: #161616;
$bg-tertiary: #4d4d4d;
$bg-qurinary: #202020;

$bg-border: #262626;

// FONTS
$font-main: "DM Sans", sans-serif;

$font-primary: "Special Gothic Expanded One", sans-serif;
$font-secondary: "DM Sans", sans-serif;

$font-semi-bold: "Special Gothic Expanded One", sans-serif;
$font-black: "DM black", sans-serif;

// SPACING
$spacing-scale: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 6rem,
);

// Z-INDEX
$z-layers: (
  background: 0,
  base: 1,
  dropdown: 10,
  overlay: 20,
  modal: 30,
  nav: 10000,
);

// TRANSITIONS
$transition-3-ease-in: 0.3s ease-in;
$transition-5-ease-in: 0.5s ease-in;
