.library {
  width: 100vw;
  height: 100vh;
  @include flex-coloumn-center;
  gap: getSpacing(sm);

  p {
    color: $fg-secondary;
  }

  #lib {
    font-family: $font-bold;
    font-size: 1.5rem;
    color: white;
  }
}
