.filters {
  width: 250px;
  height: auto;
  background-color: $bg-secondary;
  border-radius: 0.5rem;
  @include flex-coloumn-center;

  .filter-heading {
    @include full-auto;
    @include flex-space-between-center;
    padding: getSpacing(md);
    border-bottom: 2px solid $bg-tertiary;

    .filter-head {
        font-weight: 600;
        font-size: 1.5rem;

    }

    .clear {
      color: $primary;
      font-size: 0.8rem;
    }
  }

  .filter-by {
    @include full-auto;
    @include flex-space-between-center;
    padding: getSpacing(md);
    border-bottom: 2px solid $bg-tertiary;
  }

  .by-year {
    border: none;
  }
}
