.track-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;

  .track-img {
    width: 70px;
    height: 70px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.3rem;
    }
  }

  .track-det {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 getSpacing(md);
    
    .track-duration {
      font-size: .8rem;
      color: $fg-secondary;
    }
  }
}
