.track-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: getSpacing(md);
  padding: calc(getSpacing(xl) - getSpacing(lg)) 0 getSpacing(3xl);
  padding-bottom: 220px;
  position: relative;

  // HEADING
  .tc-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 getSpacing(xxl);
    gap: getSpacing(sm);
    position: sticky;
    // background: red;
    top: calc(0px - getSpacing(xl));
    z-index: 999;
    
    .tc-head {
      padding-top: getSpacing(lg);
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 3rem;
        font-family: $font-bold;
      }
    }

    .tc-divider {
      width: 100%;
      height: 2px;
      background: $bg-border;
    }
  }
}
