.tracks {
  @include full-auto;
  @include flex-space-between-center;
  align-items: start;
  margin-top: 6rem;
  padding: getSpacing(md) getSpacing(xxl);
  gap: getSpacing(md);
}

@media (max-width: 1024px) {
  .tracks {
    padding: 0 getSpacing(lg);
    gap: 0;
    margin-top: 5rem;
  }
}

@media (max-width: 768px) {
  .tracks {
    padding: 0 getSpacing(md);
  }
}