.track-tools {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  gap: getSpacing(md);

  .genre-wrapper {
    width: 45%;
    height: auto;
    display: flex;
    gap: getSpacing(sm);
  }

  .purchase-wrapper {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: getSpacing(md);
  }
}
