.track-card {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  padding: getSpacing(xs);
  background-color: #161616;
}

.track-card:hover {
  background-color: $bg-secondary;
}
