.track-container {
  flex: 1;
  height: calc(100vh - 10rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: getSpacing(sm);
  border: 2px solid $bg-border;
  border-radius: 0.5rem;
  padding: getSpacing(md);
}
