.location {
    width: 100%;
    height: 2rem;
    border-bottom: 2px solid $bg-border;
    @include flex-start-center;
    gap: getSpacing(sm);
    padding: 0 getSpacing(xxl);
    cursor: default;
    color: $fg-secondary;

    .take-me-there {
      color: $fg-secondary;
      text-decoration: none;
    }

    .take-me-there:hover {
      color: $fg-primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }