.tc-latest {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: getSpacing(lg);
  padding: 0 getSpacing(xxl);

  .tc-latest-heading {
    width: 100%;
    height: auto;
    font-size: 2rem;
    font-family: $font-bold;
  }

  .tc-latest-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: getSpacing(lg);

    .tc-latest-wrapper {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: getSpacing(lg);

      .tc-latest-beat {
        width: 100%;
        height: auto;
        display: flex;
        gap: getSpacing(lg);
        cursor: pointer;

        &:hover {
          .tc-latest-beat-image {
            border: 1px solid rgba($color: #fff, $alpha: 0.5);
          }

          .tc-latest-beat-info {
            .tc-latest-wrapper-beat-divider {
              background: $fg-secondary;
            }
          }
        }

        .tc-latest-beat-image {
          width: 4rem;
          height: 4rem;
          overflow: hidden;
          border-radius: getSpacing(sm);
          border: 1px solid rgba($color: #fff, $alpha: 0.1);
          transition: border 0.3s ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .tc-latest-beat-info {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .tc-latest-beat-info-genre {
            font-size: 12px;
            color: $fg-secondary;
          }

          .tc-latest-wrapper-beat-divider {
            width: 100%;
            height: 2px;
            background: $bg-border;
            border-radius: 99px;
            transition: background 0.3s ease;
          }
        }
      }
    }
  }
}
