.log {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  @include flex-coloumn-center;

  .log-heading {
    padding: getSpacing(lg);
    font-size: 4rem;
  }

  .log-container {
    width: 60%;
    height: auto;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    gap: getSpacing(lg);

    .log-box {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      gap: getSpacing(sm);

      .log-date {
        font-size: 2rem;

        span {
          color: $primary;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .log {
    .log-heading {
      font-size: 3rem;
    }

    .log-container {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .log {
    .log-heading {
      font-size: 2rem;
    }

    .log-container {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .log {
    .log-heading {
      font-size: 2rem;
    }

    .log-container {
      width: 90%;

      .log-box {
        .log-date {
          font-size: 1.5rem;
        }
      }
    }
  }
}