.show-track-more {
  width: auto;
  height: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: getSpacing(xl) getSpacing(lg);

  .st-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: getSpacing(sm);

    .stb-head {
      font-size: 0.8rem;
      color: $fg-secondary;
    }

    .stb-data {
      display: flex;
      align-items: center;
      gap: getSpacing(sm);
    }
  }

  .st-box-2 {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .show-track-more {
    grid-template-columns: repeat(3, 1fr);
    gap: getSpacing(lg);
    height: auto;
  }
}

@media (max-width: 768px) {
  .show-track-more {
    grid-template-columns: repeat(2, 1fr);
    gap: getSpacing(lg);
    height: auto;

    .st-box {
      align-items: center;
    }
  }
}
