.home {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: getSpacing(lg);
  margin-bottom: 200px;

  // HEADING
  .home-heading {
    width: 100%;
    height: auto;
    padding: getSpacing(xl) getSpacing(xxl) 0;
    display: flex;
    flex-direction: column;
    row-gap: getSpacing(sm);
    position: sticky;
    top: calc(0px - getSpacing(xl) + getSpacing(md));
    z-index: 999;

    p {
      font-size: 3rem;
      font-family: $font-bold;
    }

    div {
      width: 100%;
      height: 2px;
      border-radius: 999px;
      background: $bg-border;
    }
  }

  // NAVBAR
  .home-navbar {
    width: 100%;
    padding: 0 getSpacing(xxl);
    display: flex;
    justify-content: center;

    .home-navbar-wrapper {
      display: flex;
      justify-content: start;
      padding: getSpacing(xs);
      border: 2px solid $bg-border;
      border-radius: 999px;

      .home-nav {
        border-radius: 999px;
        padding: getSpacing(sm) getSpacing(md);
        cursor: pointer;
      }

      .home-nav-active {
        background: $bg-secondary;
      }
    }
  }

  .home-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: getSpacing(md);
    position: relative;

    .hcc-heading {
      padding: 0 getSpacing(xxl);
      display: flex;
      flex-direction: column;
      row-gap: getSpacing(xs);

      .hcc-top {
        font-family: $font-bold;
        font-size: 2rem;
      }

      .hcc-bottom {
        font-size: 1rem;
        color: $fg-secondary;
      }
    }

    .tc-new {
      min-height: auto;
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: getSpacing(xl);

      .tc-card {
        min-width: 300px;
        width: 300px;
        flex-direction: column-reverse;
        background-color: $bg-secondary;
        border-radius: getSpacing(md);
        gap: 0;
        border: 2px solid #ffffff10;

        .tc-card-image {
          border: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        .tc-card-info {
          padding: getSpacing(sm) getSpacing(md);
        }
      }
    }
  }
}
