.home {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;

  .vid-frame {
    width: 100%;
    height: auto;
    padding: getSpacing(xl) getSpacing(xxl);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: getSpacing(lg);

    p {
      font-size: 3rem;
    }

    iframe {
      width: 854px;
      height: 480px;
    }
  }
}

@media (max-width: 1200px) {
  .home {
    margin-top: 6rem;
    .vid-frame {
      iframe {
        width: 640px;
        height: 360px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .vid-frame {
      padding: getSpacing(lg);

      p {
        font-size: 2rem;
      }

      iframe {
        width: 426px;
        height: 240px;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .vid-frame {
      padding: getSpacing(lg);

      p {
        font-size: 1rem;
      }

      iframe {
        width: auto;
        height: auto;
      }
    }
  }
}
