.preview-section {
  width: 100%;
  height: auto;
  padding: 0 getSpacing(xxl);

  .preview-heading {
    font-size: 3rem;
    margin-bottom: getSpacing(lg);
    @include flex-start-center;
    gap: getSpacing(md); 

    p {
      font-family: $font-bold;
    }
  }

  .preview-wrapper {
    width: 100%;
    height: auto;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .preview-section {
    .preview-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      gap: getSpacing(md);
    }
  }
}

@media (max-width: 1024px) {
  .preview-section {
    padding: 0 getSpacing(lg);
    .preview-heading {
      font-size: 2rem;
      margin: getSpacing(lg) 0;
      @include flex-start-center;
      gap: getSpacing(md);
    }

    .preview-wrapper {
      grid-template-columns: 1fr;
      gap: getSpacing(sm);
    }
  }
}

@media (max-width: 768px) {
  .preview-section {
    padding: 0 getSpacing(md);
  }
}
