.search {
  width: 100%;
  height: auto;
  @include flex-coloumn-center;
  padding: 0 getSpacing(xxl);

  .search-card {
    width: 100%;
    height: 300px;
    padding: 0 getSpacing(xl);
    background: linear-gradient(to left, #4342c9 0%, #222033 80%, #1d1d1d 100%);
    border-radius: 1rem;
    @include flex-space-between-center;

    .search-image {
      @include half-full;
      overflow: hidden;

      img {
        width: 800px;
        height: auto;
        object-fit: cover;
        object-position: bottom;
        transform: translateY(-100px);
      }
    }

    .search-wrapper {
      @include half-full;
      @include flex-coloumn-center-start;
      gap: getSpacing(lg);

      .search-text {
        @include full-auto;
        @include flex-coloumn-center-start;

        .search-heading {
          font-size: 3rem;
        }
      }

      .search-container {
        @include flex-center;
        gap: getSpacing(md);

        .search-box {
          padding: 1rem 2rem;
          background-color: $bg-secondary;
          border-radius: 999px;

          input {
            width: rem(280);
            outline: none;
            border: none;
            background-color: transparent;
            font-family: $font-main;
            color: $fg-primary;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .search {
    .search-card {
      height: auto;
      padding: getSpacing(lg) 0;
      .search-image {
        display: none;
      }

      .search-wrapper {
        width: 100%;
        align-items: center;

        .search-text {
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .search {
    padding: 0 getSpacing(lg);
    .search-card {
      .search-wrapper {
        width: 100%;
        align-items: center;

        .search-text {
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .search {
    padding: 0 getSpacing(md);

    .search-card {
      padding: getSpacing(lg);
      .search-wrapper {
        width: 100%;
        align-items: center;
        gap: getSpacing(md);

        .search-text {
          align-items: center;

          .search-heading {
            font-size: 2rem;
          }

          .search-des {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
