// GNERAL GLOBAL STUFF

// TO REMOVE THE DEFAULT STYLING FROM A LINK
.uni-link {
  text-decoration: none;
  color: $fg-primary;
}

// A LINE THAT WILL HELP SEPERATE COMPONENTS
.beat-divider {
  width: 80%;
  height: 2px;
  border-radius: 999px;
  background-color: $bg-secondary;
}

.button {
  padding: 1rem 2rem;
  background-color: $secondary;
  border-radius: 999px;
}

.button-sm {
  padding: 0.5rem 1rem;
  background-color: $primary;
  border-radius: 999px;
  font-size: 0.8rem;
}

.border-btn {
  padding: 0.5rem 1rem;
  border: 2px solid $fg-primary;
  border-radius: 999px;
  font-size: 0.8rem;
}

.border-btn:hover {
  cursor: pointer;
  background-color: #121212;
}