// TO REMOVE OR ADD DEFAULT BROWSING STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  user-select: none;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

